* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    background: linear-gradient(to top, #493027, #37373c);
    animation: gradientFlow 2s ease-out forwards;
}
@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
        background: linear-gradient(to top, #493027, #37373c);
        animation: gradientFlow 2s ease-out forwards; 
    }
}
@keyframes gradientFlow {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
}

header {
    background-color: rgb(35, 35, 40);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}
header H1 {
    display: flex;
    color: rgb(255, 180, 150);
    padding-left: 3rem;
    margin-top: -0.5rem;
}
@media (max-width: 768px) {
    
    header {
        flex-direction: column;
    }
    header H1 {
        font-size: 1.5rem;
        margin-left: -2rem;
        margin-top: 1rem;
    } 
}

nav {
    margin-top: 0.5rem;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.nav-links a {
    position: relative;
    display: inline-block;
    color: rgb(255, 180, 150);
    padding:  0rem 2rem;
    overflow: hidden;
    transition: color 0.3s ease;
    z-index: 1;
    font-weight: bold;
}
@media (max-width: 768px) {
    .nav-links {
        margin-left: 1.5rem;
    }
    .nav-links a {
        font-size: 1rem;
        padding-left: 0rem;
        margin-top: 0.5rem;
    } 
}
.nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 180, 150);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    border-radius: 15px;
}
.nav-links a:hover::before {
    transform: scaleX(1);
}
.nav-links a:hover {
    color: rgb(30, 30, 30);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container H1 {
    display: flex;
    color: rgb(255, 180, 150);
    padding-left: 3rem;
    margin-top: -0.5rem;
}
a {
    padding: 2rem;
}

.description_container {
    margin-top: -6rem;
    max-width: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-direction: row;
    animation: slideFadeInLeft 1s ease-out forwards;
}
@media (max-width: 768px) {
    .description_container {
        max-width: 30rem;
        margin-top: 1rem;
        flex-direction: column;
    } 
}
@keyframes slideFadeInLeft {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}
.description_container a {
    color: rgb(255, 180, 150);
}
@media (max-width: 768px) {
    .description_container a {
        text-align: center;
    }
}
.description_container h2 {
    color: rgb(255, 230, 200);
    padding-top: 1rem;
    font-size: 3rem;
}
.description_container2 {
    padding: 1.5rem;
    max-width: 50rem;
    border-radius: 15px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.description_container2 a {
    font-size: 1.2rem;
}

.image1 img{
    transform: scale(0.79);
    border: 2px solid rgb(255, 200, 180);
    border-radius: 15px;
    margin-top: 7rem;
    box-shadow: 14px 14px 55px rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
    .image1 img {
        margin-top: -8rem;
        transform: scale(0.43);
    } 
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.button1 {
    width: 190px;
    height: 60px;
    color: rgb(35, 35, 40);
    background-color: rgb(255, 180, 150);
    border-width: 1px;
    border-radius: 10px;
    font-size: 1.22rem;
    font-weight: bold;
    border-width: 0px;
    transition: all 0.3s ease;
    margin-right: 0.5rem;
}
.button1:hover {
    width: 200px;
    height: 60px;
    color: rgb(35, 35, 40);
    background-color: rgb(255, 230, 200);
    border-radius: 10px;
    cursor: pointer;
}
.button1 a {
    color: rgb(35, 35, 40);
}
@media (max-width: 768px) {
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: -4rem;
    }
    .button1 {
        margin-top: 1rem;
        margin-right: 0rem;
        width: 300px;
    }
    .button1:hover {
        width: 280px;
    }
    .button1 a {
        font-size: 1.1rem;
    }
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(35, 35, 40);
    color: rgb(255, 180, 150);
    text-align: left;
}
.container2 h2 {
    padding-top: 5rem;
    color: rgb(255, 230, 200);
    font-size: 2.5rem;
}
@media (max-width: 768px) {
    .container2 {
        text-align: left;
        margin-top: -13rem;
    }
    .container2 h2 {
        font-size: 1.5rem;
    }
}

.about_container {
    padding: 2rem;
    max-width: 98rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.about_container a {
    color: rgb(255, 180, 150);
}
.about_container h2 {
    color: rgb(255, 230, 200);
    padding-top: 1rem;
}
@media (max-width: 768px) {
    .about_container {
        padding: 2rem;
        max-width: 98rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.image2 img{
    transform: scale(0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
    margin-bottom: -4rem;
}
.image2 a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    max-width: 10rem;
    text-align: center;
    margin-left: 2rem;
}
.image2 h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 200, 180);
}
.image3 img{
    transform: scale(0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
    margin-bottom: -4rem;
}
.image3 a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    max-width: 10rem;
    text-align: center;
    margin-left: 2rem;
}
.image3 h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 200, 180);
}
.image4 img{
    transform: scale(0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
    margin-bottom: -4rem;
}
.image4 a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    max-width: 10rem;
    text-align: center;
    margin-left: 2rem;
}
.image4 h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 200, 180);
}
@media (max-width: 768px) {
    .image2 img{
        transform: scale(0.25);
        margin-bottom: -6rem;
    }
    .image3 img{
        transform: scale(0.25);
        margin-bottom: -6rem;
    }
    .image4 img{
        transform: scale(0.25);
        margin-bottom: -6rem;
    }
}

hr {
    border: none;
    height: 0.15rem;
    background-color: rgb(60, 60, 68);
    width: 45rem;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    hr {
        width: 20rem;
    }
}